html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffff;
  color: #4f4f4f;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.76;
}

h1 {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-height: inherit;
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
  }
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.site-nav, .submenu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav .link {
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.nav-mobi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .nav-mobi {
    position: relative;
    z-index: 5;
    min-width: 320px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .menu-container {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    min-width: 320px;
    height: 430px;
    background-color: #ffffff;
    padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
  }
  .menu-container.is-open {
    display: block;
    z-index: 2;
  }
}

@media screen and (min-width: 1024px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1023px) {
  .backdrop {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.heder {
  position: relative;
  padding-top: 22px;
}

@media screen and (min-width: 1024px) {
  .heder {
    border-bottom: 1px solid #e0e0e0;
  }
}

.main-nav {
  position: relative;
  top: -22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .main-nav {
    padding-top: 22px;
  }
}

.site-nav {
  margin-bottom: 48px;
}

@media screen and (max-width: 1023px) {
  .site-nav .item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 24px;
    margin-bottom: 0px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 25px;
  }
}

.site-nav .link {
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  .site-nav .link.current {
    text-decoration: line-through;
  }
}

.logo {
  margin-right: 100px;
}

@media screen and (min-width: 1024px) {
  .logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .icon-logo {
    width: 155px;
    height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    justify-items: center;
  }
}

.menu-link {
  display: none;
}

.menu-link-mobi {
  margin-right: 30px;
  color: #000000;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 1.5;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 1.5;
}

.submenu .item:first-child {
  margin-right: 30px;
}

.submenu .submenu-link {
  color: #222222;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .dropdown {
    position: relative;
  }
  .menu-link-mobi {
    display: none;
  }
  .dropdown:hover .submenu {
    display: block;
  }
  .dropdown:hover .menu-link {
    outline: 1px solid #149038;
    color: #149038;
  }
  .dropdown:hover .menu-link::after {
    top: 13px;
    background-repeat: no-repeat;
    background-image: url("./../images/switch_Language_open.svg");
  }
  .menu-link {
    min-width: 64px;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    outline: 1px solid #000000;
    display: block;
    padding: 10px 6px;
    color: #000000;
  }
  .menu-link::after {
    position: absolute;
    content: "";
    background-position: 50% 50%;
    width: 14px;
    height: 14px;
    right: 5px;
    bottom: 25%;
    background-image: url("./../images/switch_Language.svg");
  }
  .submenu {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 100px;
    margin: 0;
    list-style: none;
    padding: 10px;
    outline: 1px solid #000000;
    display: none;
  }
  .submenu-link {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }
  .submenu-link:hover, .submenu-link:focus {
    color: #149038;
  }
}

.section-hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media screen and (min-width: 1024px) {
  .section-hero {
    padding-top: 155px;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-padding {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1500px) {
  .hero-padding {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper-title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 2350px) {
  .wrapper-title {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.hero-title {
  min-width: 290px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.7;
  color: #222222;
}

@media screen and (min-width: 1024px) {
  .hero-title {
    max-width: 699px;
    margin-bottom: 0;
    font-size: 34px;
    line-height: 1.41;
  }
}

@media screen and (min-width: 2350px) {
  .hero-title {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.hero-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1023px) {
  .hero-logo {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-logo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero-logo .logo-ecowool {
  width: 32px;
  height: 30px;
  background-image: url("./../images/logo_ecowool_black.jpg");
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-logo .logo-ecowool:hover, .hero-logo .logo-ecowool:focus {
  background-image: url("./../images/logo_ecowool.jpg");
}

.hero-logo .logo-hunton {
  width: 118px;
  height: 30px;
  background-image: url("./../images/logo_hunton_black.jpg");
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-logo .logo-hunton:hover, .hero-logo .logo-hunton:focus {
  background-image: url("./../images/logo_hunton.jpg");
}

.hero-logo .logo-isover {
  width: 75px;
  height: 30px;
  background-image: url("./../images/logo_ISOVER_black.jpg");
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-logo .logo-isover:hover, .hero-logo .logo-isover:focus {
  background-image: url("./../images/logo_ISOVER.jpg");
}

.hero-logo .item:not(:last-child) {
  margin-right: 38px;
}

@media screen and (min-width: 1024px) {
  .hero-logo .item:not(:last-child) {
    margin-right: 64px;
  }
}

@media screen and (max-width: 1023px) {
  .hero-text {
    margin-bottom: 30px;
    max-height: 110px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(24.55%, #ffffff), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #ffffff 24.55%, rgba(255, 255, 255, 0) 100%);
  }
}

@media screen and (min-width: 1024px) {
  .hero-text {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 156px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper-button {
    margin-bottom: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 2000px) {
  .wrapper-button {
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .wrapper-button {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper-button {
    margin-bottom: 100px;
  }
}

.hero-button {
  margin: 0;
  margin-bottom: 25px;
  border: none;
  padding: 18px 95px;
  min-width: 290px;
  color: #ffffff;
  background: linear-gradient(243.29deg, #2fac66 34.73%, #20a257 45.49%, #0e9645 63.42%, #048f3a 82.13%, #008d36 102.73%);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1024px) {
  .hero-button {
    min-width: 220px;
    padding: 18px 60px;
    margin-bottom: 36px;
  }
}

.hero-button:hover, .hero-button:focus {
  background: #008d36;
}

.hero-logo-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-logo-color .item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 1023px) {
  .hero-logo-color {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero-logo-color .item:not(:last-child) {
    margin-right: 3px;
  }
}

.green-rectangle {
  min-width: 300px;
  min-height: 160px;
  background-image: url("./../images/shot_building.jpg");
  background-repeat: no-repeat;
  background: linear-gradient(243.29deg, #2fac66 34.73%, #20a257 45.49%, #0e9645 63.42%, #048f3a 82.13%, #008d36 102.73%);
}

@media screen and (min-width: 1024px) {
  .green-rectangle {
    max-width: 1261px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .green-rectangle {
    min-height: 205px;
  }
}

.img-watermark {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  .img-watermark {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper-slider-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 2fr;
        grid-template-columns: 1fr 2fr 2fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    justify-items: center;
  }
}

@media screen and (min-width: 2160px) {
  .wrapper-slider-grid {
    max-width: 2160px;
  }
}

.mySlides {
  display: none;
}

.slideshow-container {
  position: absolute;
  max-width: 290px;
  top: 50%;
}

@media screen and (min-width: 1024px) {
  .slideshow-container {
    max-width: 400px;
    left: 17%;
    top: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .slideshow-container {
    max-width: 450px;
  }
}

@media screen and (min-width: 1900px) {
  .slideshow-container {
    max-width: 700px;
  }
}

.slide-img {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #149038;
}

@media screen and (min-width: 1024px) {
  .slide-img {
    border-bottom-width: 1px;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  border: 1px solid #4f4f4f;
  padding: 10px 25px;
  bottom: 0;
}

@media screen and (min-width: 1024px) {
  .prev,
  .next {
    padding: 35px 50px;
    max-width: 135px;
  }
}

.next {
  left: 82px;
}

@media screen and (min-width: 1024px) {
  .next {
    left: 132px;
  }
}

.slider-nav {
  position: relative;
  background-image: url("./../images/frame.jpg");
}

@media screen and (max-width: 1023px) {
  .slider-nav {
    max-width: 289px;
    min-height: 52px;
    top: 110px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .slider-nav {
    min-width: 310px;
    max-height: 215px;
  }
}

.slider-number {
  position: absolute;
  color: #ffffff;
  left: 200px;
  top: 11px;
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 1024px) {
  .slider-number {
    top: 35px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.slider-number .slider-number-green {
  color: #149038;
}

.arrow {
  fill: #ffffff;
}

.slider-wrapper {
  position: relative;
}

@media screen and (max-width: 1023px) {
  .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .slider-wrapper {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade:not(.show) {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */