html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffff;
  color: #4f4f4f;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.76;
}

h1 {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: inherit;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.site-nav, .dropdown-content {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav .link {
  display: inline-block;
  margin-top: 0;
  text-decoration: none;
}

.mobi-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1919px) {
  .mobi-container {
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 1920px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 1919px) {
  .menu-container {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    height: 430px;
    background-color: #ffffff;
    padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
  }
  .menu-container.is-open {
    display: block;
    z-index: 2;
  }
}

@media screen and (min-width: 1920px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.heder {
  position: relative;
  padding-top: 22px;
}

.main-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1920px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 22px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-nav {
  margin-bottom: 48px;
}

@media screen and (max-width: 1919px) {
  .site-nav .item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 24px;
    margin-bottom: 0px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 25px;
  }
}

.site-nav .link {
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

@media screen and (min-width: 1920px) {
  .site-nav .link.current {
    text-decoration: line-through;
  }
}

.logo {
  margin-right: 100px;
}

@media screen and (min-width: 1920px) {
  .logo {
    margin-right: 820px;
  }
}

@media screen and (max-width: 1919px) {
  .icon-logo {
    width: 155px;
    height: 24px;
  }
}

.drop-title {
  display: none;
}

.drop-title-mobi {
  margin-right: 30px;
  color: #000000;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 1.5;
}

.dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 1.5;
}

.dropdown-content .item:first-child {
  margin-right: 30px;
}

.dropdown-content .link {
  color: #222222;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1920px) {
  .dropdown:hover,
  .dropdown :focus {
    color: #149038;
  }
}

@media screen and (min-width: 1920px) {
  .dropbtn {
    cursor: pointer;
    width: 64px;
    border: 1px solid #000000;
    padding: 6px 10px;
  }
  .dropbtn:hover,
  .dropbtn :focus {
    border: 1px solid #149038;
  }
  .dropbtn .drop-title {
    position: relative;
    display: block;
    color: #222222;
  }
  .dropbtn .drop-title-mobi {
    display: none;
  }
  .dropbtn::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: 5px;
    bottom: 25%;
    background-image: url("./../images/switch_Language.svg");
  }
  .dropbtn::after:hover,
  .dropbtn::after :focus {
    fill: #149038;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover,
  .dropdown :focus {
    color: #149038;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    left: -26px;
    top: 30px;
    border: 1px solid #000000;
    font-size: 16px;
    line-height: 1.5;
  }
  .dropdown-content .item:first-child {
    margin-right: 8px;
  }
  .dropdown-content .item:last-child {
    margin-right: 8px;
  }
  .dropdown-content .link:hover {
    color: #149038;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.section-hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media screen and (min-width: 1920px) {
  .section-hero {
    padding-top: 155px;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-padding {
    padding-left: 285px;
    padding-right: 285px;
  }
}

.hero-title {
  min-width: 290px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.7;
  color: #222222;
}

@media screen and (min-width: 1920px) {
  .hero-title {
    max-width: 699px;
    font-size: 34px;
    line-height: 1.41;
    margin-right: 162px;
  }
}

.hero-logo-mobi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.hero-logo-mobi .item:not(:last-child) {
  margin-right: 38px;
}

@media screen and (min-width: 1920px) {
  .hero-logo-mobi {
    display: none;
  }
}

.hero-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1919px) {
  .hero-logo {
    display: none;
  }
}

.hero-logo .item:not(:last-child) {
  margin-right: 64px;
}

@media screen and (min-width: 1920px) {
  .wrapper-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 62px;
  }
}

@media screen and (max-width: 1919px) {
  .hero-text {
    margin-bottom: 30px;
    max-height: 110px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(24.55%, #ffffff), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #ffffff 24.55%, rgba(255, 255, 255, 0) 100%);
  }
}

@media screen and (min-width: 1920px) {
  .hero-text {
    max-width: 1220px;
    margin-bottom: 156px;
  }
}

.hero-button {
  margin: 0;
  margin-bottom: 33px;
  border: none;
  padding: 18px 95px;
  min-width: 290px;
  color: #ffffff;
  background: linear-gradient(243.29deg, #2fac66 34.73%, #20a257 45.49%, #0e9645 63.42%, #048f3a 82.13%, #008d36 102.73%);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1920px) {
  .hero-button {
    padding: 18px 60px;
    min-width: 220px;
  }
}

.hero-button:hover, .hero-button:focus {
  background: #008d36;
}

.hero-logo-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1919px) {
  .hero-logo-color {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1920px) {
  .hero-logo-color {
    margin-bottom: 180px;
  }
}

.hero-logo-color .item:not(:last-child) {
  margin-right: 3px;
}

.slider-nav {
  position: relative;
  background-image: url("./../images/frame.jpg");
  width: 289px;
  height: 52px;
  top: 295px;
  left: 5px;
}

@media screen and (min-width: 1920px) {
  .slider-nav {
    width: 310px;
    height: 215px;
    top: 0;
    left: 0;
  }
}

.slider-number {
  position: absolute;
  color: #ffffff;
  left: 200px;
  top: 11px;
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 1920px) {
  .slider-number {
    top: 35px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.slider-number .slider-number-green {
  color: #149038;
}

.arrow {
  fill: #ffffff;
}

@media screen and (min-width: 1920px) {
  .slider-wrapper {
    position: relative;
    top: -550px;
    right: -310px;
  }
}

.green-rectangle {
  min-width: 300px;
  min-height: 160px;
  background-image: url("./../images/shot_building.jpg");
  background-repeat: no-repeat;
  background: linear-gradient(243.29deg, #2fac66 34.73%, #20a257 45.49%, #0e9645 63.42%, #048f3a 82.13%, #008d36 102.73%);
}

@media screen and (min-width: 1920px) {
  .green-rectangle {
    max-width: 1261px;
  }
}

.img-watermark {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  min-width: 600px;
}

@media screen and (min-width: 1920px) {
  .img-watermark {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
}

.mySlides {
  display: none;
}

.slideshow-container {
  position: relative;
  max-width: 290px;
  top: -100px;
  left: 5px;
}

@media screen and (min-width: 1920px) {
  .slideshow-container {
    max-width: 703px;
    top: -215px;
    left: 210px;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  border: 1px solid #4f4f4f;
  padding: 10px 25px;
  bottom: 0;
}

@media screen and (min-width: 1920px) {
  .prev,
  .next {
    padding: 36px 53px;
  }
}

.next {
  right: 125px;
}

@media screen and (min-width: 1920px) {
  .next {
    right: 35px;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade:not(.show) {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */