.drop-title {
  display: none;
}

.drop-title-mobi {
  margin-right: 30px;
  color: #000000;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 1.5;
}

.dropdown-content {
  @extend %list;
  display: flex;
  font-size: 16px;
  line-height: 1.5;

  .item:first-child {
    margin-right: 30px;
  }

  .link {
    color: $title-text-color;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
  }
}

.dropdown {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1920px) {
    &:hover,
    :focus {
      color: $accent-color;
    }
  }
}

@media screen and (min-width: 1920px) {
  .dropbtn {
    cursor: pointer;
    width: 64px;
    border: 1px solid #000000;
    padding: 6px 10px;

    &:hover,
    :focus {
      border: 1px solid $accent-color;
    }

    .drop-title {
      position: relative;
      display: block;
      color: $title-text-color;
    }

    .drop-title-mobi {
      display: none;
    }

    &::after {
      position: absolute;

      content: "";
      width: 14px;
      height: 14px;
      right: 5px;
      bottom: 65%;

      background-image: url("./../images/switch_Language.svg");

      &:hover,
      :focus {
        fill: $accent-color;
      }
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &:hover,
    :focus {
      color: $accent-color;
    }
  }

  .dropdown-content {
    position: absolute;
    display: none;

    left: -26px;
    bottom: -47px;

    border: 1px solid #000000;

    font-size: 16px;
    line-height: 1.5;
  }

  .dropdown-content {
    .item:first-child {
      margin-right: 8px;
    }

    .item:last-child {
      margin-right: 8px;
    }
  }

  .dropdown-content {
    .link:hover {
      color: $accent-color;
    }
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
