// _____mobile screen_________
.menu-link {
  display: none;
}

.menu-link-mobi {
  margin-right: 30px;
  color: #000000;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 1.5;
}

.submenu {
  @extend %list;
  display: flex;
  font-size: 16px;
  line-height: 1.5;

  .item:first-child {
    margin-right: 30px;
  }

  .submenu-link {
    color: $title-text-color;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
  }
}

.dropdown {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
}

// _________________________________________________

@media screen and (min-width: $desktop-screen) {
  .dropdown {
    position: relative;
  }

  .menu-link-mobi {
    display: none;
  }

  .dropdown:hover .submenu {
    display: block;
  }

  .dropdown:hover .menu-link {
    outline: 1px solid $accent-color;
    color: $accent-color;

    &::after {
      top: 13px;
      background-repeat: no-repeat;
      background-image: url("./../images/switch_Language_open.svg");
    }
  }

  .menu-link {
    min-width: 64px;

    display: inline-block;
    margin: 0;
    text-decoration: none;

    font-size: 14px;
    line-height: 1.14;
    outline: 1px solid #000000;

    display: block;
    padding: 10px 6px;
    color: #000000;

    &::after {
      position: absolute;

      content: "";
      background-position: 50% 50%;

      width: 14px;
      height: 14px;
      right: 5px;
      bottom: 25%;
      background-image: url("./../images/switch_Language.svg");
    }
  }

  .submenu {
    position: absolute;
    right: 0;
    top: 110%;

    min-width: 100px;

    margin: 0;
    list-style: none;
    padding: 10px;
    outline: 1px solid #000000;

    display: none;
  }

  .submenu-link {
    display: inline-block;
    margin: 0;
    text-decoration: none;

    font-size: 16px;
    line-height: 1.5;
    color: #000000;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
