.section-hero {
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (min-width: $desktop-screen) {
    padding-top: 155px;
    padding-bottom: 64px;
  }
}

.hero-padding {
  @media screen and (min-width: $desktop-screen) {
    padding-left: 285px;
    padding-right: 285px;
  }
}

.hero-title {
  min-width: 290px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.7;
  color: $title-text-color;

  @media screen and (min-width: $desktop-screen) {
    max-width: 699px;
    font-size: 34px;
    line-height: 1.41;
    margin-right: 162px;
  }
}

.hero-logo {
  display: flex;
  margin-bottom: 30px;

  .logo-ecowool {
    width: 32px;
    height: 30px;
    background-image: url("./../images/logo_ecowool_black.jpg");

    transition: all 250ms $timing-function;

    &:hover,
    &:focus {
      background-image: url("./../images/logo_ecowool.jpg");
    }
  }

  .logo-hunton {
    width: 118px;
    height: 30px;
    background-image: url("./../images/logo_hunton_black.jpg");

    transition: all 250ms $timing-function;

    &:hover,
    &:focus {
      background-image: url("./../images/logo_hunton.jpg");
    }
  }

  .logo-isover {
    width: 75px;
    height: 30px;
    background-image: url("./../images/logo_ISOVER_black.jpg");

    transition: all 250ms $timing-function;

    &:hover,
    &:focus {
      background-image: url("./../images/logo_ISOVER.jpg");
    }
  }

  .item:not(:last-child) {
    margin-right: 38px;

    @media screen and (min-width: $desktop-screen) {
      margin-right: 64px;
    }
  }
}

.wrapper-title {
  @media screen and (min-width: $desktop-screen) {
    display: flex;
    align-items: flex-end;
    margin-bottom: 62px;
  }
}

.hero-text {
  @media screen and (max-width: $desktop-screen - 1px) {
    margin-bottom: 30px;
    max-height: 110px;
    overflow: hidden;
    background: linear-gradient(
      180deg,
      #ffffff 24.55%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  @media screen and (min-width: $desktop-screen) {
    max-width: 1220px;
    margin-bottom: 156px;
  }
}

.hero-button {
  margin: 0;
  margin-bottom: 33px;
  border: none;
  padding: 18px 95px;
  min-width: 290px;

  @media screen and (min-width: $desktop-screen) {
    padding: 18px 60px;
    min-width: 220px;
  }

  color: #ffffff;
  background: linear-gradient(
    243.29deg,
    #2fac66 34.73%,
    #20a257 45.49%,
    #0e9645 63.42%,
    #048f3a 82.13%,
    #008d36 102.73%
  );

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  transition: visibility 250ms $timing-function;
  &:hover,
  &:focus {
    background: #008d36;
  }
}

.hero-logo-color {
  display: flex;
  align-items: center;

  @media screen and (max-width: $desktop-screen - 1px) {
    justify-content: center;
  }

  @media screen and (min-width: $desktop-screen) {
    margin-bottom: 180px;
  }

  .item:not(:last-child) {
    margin-right: 3px;
  }
}

.green-rectangle {
  min-width: 300px;
  min-height: 160px;

  @media screen and (min-width: $desktop-screen) {
    max-width: 1261px;
  }

  background-image: url("./../images/shot_building.jpg");
  background-repeat: no-repeat;
  background: linear-gradient(
    243.29deg,
    #2fac66 34.73%,
    #20a257 45.49%,
    #0e9645 63.42%,
    #048f3a 82.13%,
    #008d36 102.73%
  );
}

.img-watermark {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  min-width: 600px;

  @media screen and (min-width: $desktop-screen) {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
}
