.wrapper-slider-grid {
  @media screen and (min-width: $desktop-screen) {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
  }

  @media screen and (min-width: 2160px) {
    max-width: 2160px;
  }
}

.mySlides {
  display: none;
}

.slideshow-container {
  position: absolute;
  max-width: 290px;

  top: 50%;

  @media screen and (min-width: $desktop-screen) {
    max-width: 400px;
    left: 17%;
    top: 70px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1900px) {
    max-width: 700px;
  }
}

.slide-img {
  border-bottom-width: 4px;
  @media screen and (min-width: $desktop-screen) {
    border-bottom-width: 1px;
  }

  border-bottom-style: solid;
  border-bottom-color: $accent-color;
}

// .slider-line {
//   position: absolute;
//   width: 187px;
//   height: 4px;
//   background-color: #000000;
//   right: 223px;
//   bottom: -523px;

//   @media screen and (min-width: $desktop-screen) {
//     width: 230px;
//     height: 1px;

//     bottom: 215px;
//     right: 437px;
//   }
// }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  border: 1px solid #4f4f4f;
  padding: 10px 25px;

  bottom: 0;
  @media screen and (min-width: $desktop-screen) {
    padding: 35px 50px;
    max-width: 135px;
  }
}

.next {
  left: 82px;

  @media screen and (min-width: $desktop-screen) {
    left: 132px;
  }
}

.slider-nav {
  position: relative;
  background-image: url("./../images/frame.jpg");

  @media screen and (max-width: $desktop-screen - 1px) {
    max-width: 289px;
    min-height: 52px;
    top: 110px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop-screen) {
    min-width: 310px;
    max-height: 215px;
  }
}

.slider-number {
  position: absolute;
  color: #ffffff;
  left: 200px;
  top: 11px;
  font-size: 16px;
  line-height: 1.87;

  @media screen and (min-width: $desktop-screen) {
    top: 35px;
    font-size: 18px;
    line-height: 1.67;
  }

  .slider-number-green {
    color: #149038;
  }
}

.arrow {
  fill: #ffffff;
}

.slider-wrapper {
  position: relative;

  @media screen and (max-width: $desktop-screen - 1px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $desktop-screen) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade:not(.show) {
  opacity: 1;
}
